In [1]:
import pandas as pd

In [6]:
student_data = pd.read_csv('data/students_performance.csv')
display(student_data.head())
student_data.shape

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

(1000, 8)

In [7]:
# Каков балл по письму у студента под индексом 155?
student_data.iloc[155, -1]

88

In [8]:
# Сколько суммарно пропущенных значений в таблице?
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [9]:
# Каков у студентов средний балл по математике?
student_data['math score'].mean()

66.089

In [10]:
# Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [11]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [13]:
# Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score'] == 0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [15]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, 
# чем у студентов с льготным питанием.
standard = student_data[student_data['lunch'] == 'standard']['math score'].mean()
free = student_data[student_data['lunch'] != 'standard']['math score'].mean()
standard, free

(70.03410852713178, 58.92112676056338)

In [16]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
student_data['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [17]:
# Насколько медианный балл по письму у студентов в расовой группе А 
# отличается от среднего балла по письму у студентов в расовой группе C?
mark_a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mark_c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
abs(mark_a - mark_c)

5.827586206896555