In [1]:
import pandas as pd
ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
ufo_data.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [2]:
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'])
ufo_data.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [16]:
ufo_data['Years'] = ufo_data['Time'].dt.year
ufo_data['Years'].mode()

0    1999
Name: Years, dtype: int32

In [22]:
date_ser = ufo_data[ufo_data['State'] == 'NV']['Time'].dt.date
display(date_ser)
delta = date_ser.diff()

76       1947-07-15
172      1952-02-17
565      1959-09-15
566      1959-09-15
613      1960-07-01
            ...
17447    2000-09-16
17567    2000-09-30
17617    2000-10-06
17890    2000-11-07
18104    2000-12-10
Name: Time, Length: 284, dtype: object

In [27]:
delta_int = delta.dt.days

In [28]:
delta_int.mean()

68.92932862190813